{% extends "base.html" %}

{% block page %}



  <style>
            body {font-family: Verdana;}
            .node {
              border: solid 1px white;
              font: 10px sans-serif;
              line-height: 12px;
              overflow: hidden;
              position: absolute;
              text-indent: 2px;
            }
            .c3-line, .c3-focused {stroke-width: 3px !important;}
            .c3-bar {stroke: white !important; stroke-width: 1;}
            .c3 text { font-size: 12px; color: grey;}
            .tick line {stroke: white;}
            .c3-axis path {stroke: grey;}
            .c3-circle { opacity: 1 !important; }
  </style>
  
  
 

 </table>

  <div
	   data-module="rtpaexplorativestats_view"
	   data-module-site_url="{{ h.dump_json(h.url('/', locale='default', qualified=true)) }}"
       data-module-resource = "{{ h.dump_json(resource_json) }}";
       >
       <table id="Summary">
		<thead> 
			<tr>
			{%for header in (resource_summaryheaders)%}
				<th>{{header}}</th>
			{%endfor%}
		</thead>
		<tbody>
			{%for row in resource_summarydata%}
				<tr>
				{%for element in row%}
					<td>{{element}}</td>	
				{%endfor%}
				</tr>
			{%endfor%}
		</tbody>
		 </table>
		 
		 <div id="Boxplot">
		 
		 </div>
  
  </div>
  
  <div>

  </div>


	{% resource 'rtpaexplorativestats/main' %}
{% endblock %}

{% block styles %}{% endblock %}
{% block custom_styles %}{% endblock %}

