{% extends "base.html" %}

{% block page %}



  <style>
            body {font-family: Verdana;}
            .node {
              border: solid 1px white;
              font: 10px sans-serif;
              line-height: 12px;
              overflow: hidden;
              position: absolute;
              text-indent: 2px;
            }
            .c3-line, .c3-focused {stroke-width: 3px !important;}
            .c3-bar {stroke: white !important; stroke-width: 1;}
            .c3 text { font-size: 12px; color: grey;}
            .tick line {stroke: white;}
            .c3-axis path {stroke: grey;}
            .c3-circle { opacity: 1 !important; }
  </style>
  {}
  
  <div id="Summary">	  
	  
  </div>
	 
  
		
  <div id="Boxplot"
	   data-module="rtpaexplorativestats_view"
	   data-module-site_url="{{ h.dump_json(h.url('/', locale='default', qualified=true)) }}"
       data-module-resource = "{{ h.dump_json(resource_json) }}";
       >
  
  </div>
  
  <div>
	  {{resource_summary}}
  {% for a in (resource_summary) %}
  {{ a }}
  {%endfor%}
  </div>


	{% resource 'rtpaexplorativestats/main' %}
{% endblock %}

{% block styles %}{% endblock %}
{% block custom_styles %}{% endblock %}

