{% extends "base.html" %}

{% block page %}

    <style>
        body {
          font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
          font-size: 14px;
          line-height: 20px;
          color: #444444;
        }
        .node {
          border: solid 1px white;
          overflow: hidden;
          position: absolute;
          text-indent: 2px;
        }
        .c3-line, .c3-focused {stroke-width: 3px !important;}
        .c3-bar {stroke: white !important; stroke-width: 1;}
        .c3 text { font-size: 12px; color: grey;}
        .tick line {stroke: white;}
        .c3-axis path {stroke: grey;}
        .c3-circle { opacity: 1 !important; }
    </style>

	<div
	    data-module="rtpaexplorativestats_view"
	    data-module-site_url="{{ h.dump_json(h.url('/', locale='default', qualified=true)) }}"
	    data-module-resource = "{{ h.dump_json(resource_json) }}";
       >

	<h3>{% trans %}Data Summary{% endtrans %}</h3>
	<table id="Summary">
		<thead>
		    <tr>
			{% for header in (resource_summaryheaders) %}
				<th>{{header}}</th>
			{% endfor %}
		    </tr>
		</thead>
		<tbody>
			{% for row in resource_summarydata %}
				<tr>
				{% for element in row %}
				    <td>{{element}}</td>
				{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<h3 style="margin-bottom: 0;">{% trans %}Box Plot{% endtrans %}</h3>
	<a class="" href="https://en.wikipedia.org/wiki/Box_plot" target="_blank">{% trans %}How can I understand this?{% endtrans %}</a>

	<div id="Boxplot">

	</div>

	<h3 style="margin-bottom: 0;">{% trans %}Correlation Matrix{% endtrans %}</h3>
	<a class="" href="https://en.wikipedia.org/wiki/Correlation_and_dependence" target="_blank">{% trans %}How can I understand this?{% endtrans %}</a>

	<div id="CorrelationMatrix">
		{% if result != None %}
			<img src="data:image/png;base64,{{ resource_correlationmatrix }}"\>
		{% endif %}
	</div>

    </div>

    {% resource 'rtpaexplorativestats/main' %}

{% endblock %}

{% block styles %}{% endblock %}
{% block custom_styles %}{% endblock %}

